body {
    background: url("../img/bg.jpg") center top fixed;
    background-size: cover;
    height: auto;
    min-height: 100%;
    box-shadow: 0rem 0 10rem rgba(0, 0, 0, 0.5)
}

.table{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.table thead {
    background: rgba(0, 0, 0, 0.08);
}

.card {
    background: rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
}

.card-header {
    background: rgba(0, 0, 0, 0.11);
}

.table thead th {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.table td, .table th {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
}
.masthead, .mastfoot, .cover-container {
    width: 64rem;
}

.mastfoot {
    position: relative;
    bottom: auto;
}

.masthead {
    position: relative;
    top: auto;
}

.site-wrapper-inner {
    vertical-align: top;
}

.site-wrapper {
    box-shadow: none;
    min-height: 500px;
}


#records {
    padding: 2rem 0;
}

#home {
    padding: 17.4rem 0;
}

#weather {
    padding: 17.4rem 0;
}

#chart-canvas {
    background: white;
    border-radius:8px;
    overflow: hidden;
}

.chart {
    min-width: 320px;
    height: 280px;
    margin: 0 auto;
    margin: 16px;
}

.chart *{
    text-shadow: none;
}

@media (max-width: 86rem) {
    #home {
        padding: 7.5rem 0;
    }

    #weather {
        padding: 8.7rem 0;
    }
}

@media (max-width: 64rem) {
    html{
        font-size: 14px;
    }
    .masthead, .mastfoot, .cover-container {
        width: 100%;
    }
}

@media (max-width: 40rem) {
    html{
        font-size: 13px;
    }
    .masthead, .mastfoot, .cover-container {
        width: 100%;
    }
    #home {
        padding: 2rem 0;
    }
    #weather {
        padding: 2rem 0;
    }
}